/* LC -- Left Column,
 * RC -- Right Column,
 * CC -- Central Column.
 */

/* LC: 200px, RC: 250px, CC padding: 40px */

body {
    min-width: 730px;       /* 2 X (LC + CC padding) + RC */
}

#container {
    padding-left: 200px;    /* LC width */
    padding-right: 290px;   /* RC width + CC padding */
}

#container .column {
    position: relative;
    float: left;
}

#layout_middle {
    padding: 5px 40px 5px 0px;  /* CC padding */
    width: 100%;
}

#layout_left {
    width: 200px;           /* LC width */
    padding: 0 0px;         /* LC padding */
    right: 240px;           /* LC width + CC padding */
    margin-left: -100%;
}

#layout_right {
    width: 250px;           /* RC width */
    padding: 0 0px;         /* RC padding */
    margin-right: -290px;   /* RC width + CC padding */
}
