.fieldset-auto-width {
    display: inline-block;
}

#id_number {
    margin-left: 20px;
}

#date {
    margin-left: 20px;
}

#company_location {
    margin-left: 20px;
}

#opener {
    margin-left: 20px;
}

#professor_name_label {
    margin-left: 20px;
}

#card_name_label {
    margin-left: 20px;
}
