body {
    min-width: 680px;       /* 2 X (LC + CC padding) + RC */
}

#container {
    padding-left: 200px;    /* LC width */
    padding-right: 240px;   /* RC width + CC padding */
}

#container .column {
    position: relative;
    float: left;
}

#layout_middle {
    padding: 10px 20px;     /* CC padding */
    width: 100%;
}

#layout_left {
    width: 180px;           /* LC width */
    padding: 0 10px;        /* LC padding */
    right: 240px;           /* LC width + CC padding */
    margin-left: -100%;
}

#layout_right {
    width: 180px;           /* RC width */
    padding: 0 10px;        /* RC padding */
    margin-right: -240px;   /* RC width + CC padding */
}
